<div class="row flex-wrap">
  @if (students) {
    @for (OneStudent of students; track OneStudent.id) {
      <app-student class="my-3 mx-auto col-12 col-md-6 col-lg-4" [student]="OneStudent"></app-student>
    }
  } @else {
  <div class="d-flex align-items-center">
    <strong role="status">Loading...</strong>
    <div class="spinner-border ms-auto"></div>
  </div>
  }
  <a
    class="btn fs-1 pb-2 text-center fw-bolder d-flex justify-content-center align-items-center p-0 m-0 rounded-circle border border-black bg-success"
    style="
      width: 50px;
      height: 50px;
      line-height: 0;
      cursor: pointer;
      position: fixed;
      bottom: 25px;
      right: 25px;
    "
    title="Add Student"
    routerLink="add"
  >
    +
  </a>
</div>
